<section class="about-area about-area-v1 pt-120 pb-120" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ovent-img">
                    <img src="assets/images/main/feria.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                        <span class="span">Feria Tecnologica 2021</span>
                        <h2>Te invitamos a participar</h2>
                    </div>
                    <h4>Unete y participa en la mejor feria tecnologica estudiantil universitaria.</h4>
                    <ul>
                        <li>
                            <h4 class="list-item"><span class="fa fa-users"></span> Forma un equipo</h4>
                        </li>
                        <li>
                            <h4 class="list-item"><span class="fa fa-laptop-code"></span> Desarrolla tu proyecto</h4>
                        </li>
                        <li>
                            <h4 class="list-item"><span class="fa fa-video"></span> Crea un video de presentacion</h4>
                        </li>                        
                    </ul>
                    
                    <ul>
                        <li><a class="main-btn" routerLink="/event"><i class="fal fa-laptop-code"></i> Registrar Proyecto</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>