<section class="intro-video-area video-area-v1 bg_cover" [style.background-image]="'url(assets/images/main/lab.png)'">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                        <span class="span">Participa Votando</span>
                        <h2>Registrate y vota por tu proyecto preferido</h2>
                    </div>
                    <h4>Tu voto ayudara a el equipo que desarrolla el proyecto.</h4>
                    <p>Con tu voto participaras en la feria tecnologica, ayudando a los equipos participante, selecciona una categoria y vota por tu favorita.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-video-play">
                    <a class="video-popup" href="#">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>